<div class="container pt-5">
  <form method="POST" action="/login">
    <div class="card mx-auto mt-5" style="width: 50%;">
      <h3 class="text-center my-4">Account Login</h3>
      <div class="form-group mb-2 mx-5">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" value="{{this.email}}">
      </div>
      <div class="form-group mb-2 mx-5">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" value="{{this.password}}">
      </div>
      <button type="submit" class="btn btn-primary mx-auto my-4" style="width:30%">Sign in</button>
    </div>
  </form>
  {{#if error}}
  <div class="alert alert-danger mx-auto mt-3 text-center" role="alert" style="width: 50%">
    <strong>{{this.error}}</strong>
  </div>
  {{/if}}
</div>